body {
    background-color: #fff;
    font-family: Helvetica;
    font-size: 10pt;
}

.view {
    padding: 10px 6px;
}

a {
  -webkit-tap-highlight-color: rgba(255,255,255,0.0); /* Remove */
  -webkit-touch-callout: none;
}